/* ==========================================================================
   Editor Styles
   ========================================================================== */
.alignleft {
	margin: 0 1em 1em 0;
}

hr {
		clear: both;
		height: 5px;
		margin: 0;
		background: transparent;
		border: 0;
		border-bottom: 1px solid #ccc;
	}