.brands {
	.mainLogoBlock {
		min-height: 260px;
		margin: 0 auto;
		padding: 0 0;
		text-align: center;
		// background: url(assets/images/brand-chalkboardBackground.jpg) repeat-x;
		background-size: cover;
		.mainImageThumb {
			padding: 1em 0;
		}
	}
	.brandDescription {
		max-width: 960px;
		margin: 0 auto;
	}
	.brandBoxContainer {
		max-width: $maxWidth;
		margin: 0 auto;
		padding: 0 0 3em 0;
		// background: url(assets/images/header-background-diamond.gif) repeat-x left top;
		.brandContainerSingle {
			display: block;
			float: left;
			width: 30%;
			// height: 300px;
			overflow: hidden;
			margin: 0 5% 3em 0;
			padding: 1em;
			outline: 0;
			&:nth-child(3n+3) {  
			  margin-right: 0;
			}
			&.selected {
				background: rgba(255,255,255,0.5);
			}
			h2 {
				margin: 0;
				padding: 0.3em 0 0;
				border-top: 1px dotted $brown;
				font-size: 1em;
			}
			h3 {
				font-size: 0.9em;
				margin:0 0 0.5em;
				font-family: $langdon;
				text-transform: uppercase;
			}
			p {
				margin: 0 0 1em;
				font-size: 0.75em;
			}
			.readmoreBrand {
				background: transparent;
				border: 0;
				outline: 0;
				background: $brown;
				color: #fff;
				box-shadow: 1px 1px 1px #000;
			}
		}
	}
	.nav-single {
		margin-bottom: 3em;
		.browseMore {
			max-width: $maxWidth;
			margin: 0.5em auto;
			text-align: center;
			font-family: $langdon;
			font-size: 1.6em;
			text-transform: uppercase;
			border-bottom: 1px dotted $brown;
		}
		.browseMoreContainer {
			max-width: $maxWidth;
			margin: 0.5em auto;
			text-align: center;
			a .browseMoreImage {
				width: 15%;
				margin-right: 2%;
				&:nth-child(3n+3) {
					margin-right: 0;
				}  
			}
		}
	}
	.lightbox {
		display: none;
		position: fixed;
		z-index: 500;
		top: 25%;
		left: 0;
		right: 0;
		width: 60%;
		margin: auto;
		padding: 2em;
		background: rgba(255,255,255,0.97);
		box-shadow: 3px 3px 10px $brown;
		&.active {
			display: block;
		}
		p {
			line-height: 1.45em;
		}
	}

	.lightboxCloseButton {
		position: absolute;
		z-index: 1000;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		border: 0;
		background: $brown;
		font-size: 2em;
		line-height: 1em;
		color: $txWhite;
		outline: 0;
	}
	.lightboxImage {
		display: block;
		float: right;
		width: 30%;
		margin-right: 3%;
	}
	.lightboxHeader {
		font-family: $langdon;
		font-size: 2em;
		text-transform: uppercase;
		border-bottom: 1px dotted $brown;
	}
	.strengthMeter {
		vertical-align: top;
		font-family: $langdon;
		text-transform: uppercase;
		.strengthMeterBlock {
			display: inline-block;
			width: 20px;
			height: 20px;
			background: transparent url(assets/images/brand-strengthGuage.png) no-repeat;
		}
	}
}