/* ==========================================================================
   Header
   ========================================================================== */
.stickyHeader {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	height: 100px;
	background: url(assets/images/burlap.jpg);
	border-bottom: 3px solid $brown;
	box-shadow: 0 0 8px $brown;
	.stickyHeaderContainer {
		width: 100%;
		max-width: $maxWidth;
		margin: 0 auto;
		padding: 0.5em 0 0;
		.mastheadLogo {
			float: left;
			width: 120px;
			height: 80px;
			margin: 0 3em 0 0;
			background: url(assets/images/sticky-two-rivers-logo.png) no-repeat;
			background-size: contain;
			@include hideText();
			@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	      background: url(assets/images/sticky-two-rivers-logo@2x.png) no-repeat;
			}
		}
		.main-navigation {
			display: block;
			float: left;
			margin: 0.7em 0 0 0;
			border-top: 2px dotted #000;
			border-bottom: 2px dotted #000;
			font-family: $langdon;
			text-transform: uppercase;
			font-size: 1.4em;
			a {
				display: block;
				text-decoration: none;
				color: #000;
				&:hover {
					color: $red;
				}
			}
			ul {
				list-style: disc;
				margin: 0;
				padding-left: 0;
				li {
					float: left;
					position: relative;
					margin-left: 24px;
					&:before {
						margin: 0 0 -2px;
					}
					ul.sub-menu {
						display: none;
						position: absolute;
						z-index: 1000;
						width: 350%;
						padding: 0.5em 0.5em 0 1em;
						list-style: none;
						background: $txWhite;
						border: 1px solid $brown;
						font-size: 0.9em;
						li {
							margin: 0 0 0.5em;
							a {
								color: $brown;
							}
							&.current-menu-item {
								a {
									color: $red;
								}
							}
						}
					}
					&.menu-item-has-children:hover {
						ul.sub-menu {
							display: block;
						}
					}
				}
			}
		}
	}
}

.site-header {
	width: 100%;
	max-width: $maxWidth;
	margin: 0 auto 1.2em; 
	padding: 1em 0 0;
	.mastheadLogo {
		float: left;
		width: 260px;
		height: 162px;
		margin: 0 1.1em 0 0;
		background: url(assets/images/two-rivers-logo.png) no-repeat;
		@include hideText();
		@media only screen and (-webkit-min-device-pixel-ratio: 2) {
      background: url(assets/images/two-rivers-logo@2x.png) no-repeat;
		}
	}
	.main-navigation {
		display: block;
		float: left;
		margin: 3.4em 0 0 0;
		border-top: 2px dotted #000;
		border-bottom: 2px dotted #000;
		font-family: $langdon;
		text-transform: uppercase;
		font-size: 1.4em;
		a {
			display: block;
			text-decoration: none;
			color: #000;
			&:hover {
				color: $red;
			}
		}
		ul {
			list-style: disc;
			margin: 0;
			padding-left: 0;
			li {
				float: left;
				position: relative;
				margin-left: 20px;
				&:before {
					margin: 0 0 -2px;
				}
				&.current-menu-item {
					a {
						color: $red;
					}
				}
				ul.sub-menu {
					display: none;
					position: absolute;
					z-index: 1000;
					width: 350%;
					padding: 0.5em 0.5em 0 1em;
					list-style: none;
					background: $txWhite;
					border: 1px solid $brown;
					font-size: 0.9em;
					li {
						margin: 0 0 0.5em;
						a {
							color: $brown;
						}
						&.current-menu-item {
								a {
									color: $red;
								}
							}
					}
				}
				&.menu-item-has-children:hover {
					ul.sub-menu {
						display: block;
					}
				}
			}
		}
	}
}

.site-description {
}

.site-title {
}
