// default styles
html {
	font-family: $georgia;
	color: $brown;
}

hr {
	height: 5px;
	margin: 0;
	background: url(assets/images/divider.gif) repeat-x;
}

#page {
	position: relative;
}

//Basic Pages 
.site-content {
	max-width: $maxWidth;
	margin: 0 auto;
}

.brandContainer {
	padding: 2em 0 4em;
	text-align: center;
	&:after {
		content: " ";
		clear: both;
		display: block;
	}
	.brandThumbnail {
		margin: 0 5% 0 0;
		padding: 1em;
		&:nth-child(3n+3) {  
			  margin-right: 0;
			}
		// border-right: 1px dotted $brown;
		// border-bottom: 1px dotted $brown;
		h2 {
			font-family: $langdon;
			font-size: 1.5em;
			text-transform: uppercase;
		}
		.brandImage {
			text-align: center;
			width: 25%;
			height: auto;
		}
	}
}