.storyboardLevel {
	position: relative;
	min-height: 700px;
	padding: 4em 0;
	h3 {
		position: relative;
		z-index: 0;
		width: 100%;
		max-width: $maxWidth;
		margin: 0 auto;
		border-bottom: 3px dotted $brown;
		font-family: $langdon;
		text-transform: uppercase;
		text-align: right;
		font-size: 3em;
		line-height: 1em;
	}
	.object {
		position: absolute;
	}
	.copy {
		position: absolute;
		width: 35%;
		padding: 1em;
		background: rgba(255,255,255,0.8);
		font-family: $georgia;
		font-size: 1.1em;
		line-height: 1.5em;
		color: $brown;
		left:0;
		right: 0;
		margin: 0 auto;
	}
	.readMore {
		display: block;
		width: 180px;
		height: 43px;
		margin: 0 auto;
		padding: 0 0.5em;
		text-align: center;
		background: $blue;
		border: 0;
		.readMoreText {
			display: block;
			padding-top: 0.1em;
			border: 1px solid #fff;
			font-family: $langdon;
			text-transform: uppercase;
			font-size: 1.3em;
			color: #fff;
			text-decoration: none;
		}
	}
}

.familyOfBrands {
	.beans {
		display: none;
		top: 50px;
		left: -395px;
		z-index: 1;
		width: 395px;
		height: 402px;
		background: url(assets/images/parallax-Family-Beans.png) no-repeat;
	}
	.leaves {
		display: none;
		top: 40%;
		right: -150px;
		z-index: 2;
		width: 200px;
		height: 374px;
		background: url(assets/images/parallax-Family-Leaves.png) no-repeat;
	}
	.coffeeNapkin {
		top: 20px;
		left: 0;
		right: 0;
		z-index: 3;
		width: 382px;
		height: 361px;
		margin: 0 auto;
		background: url(assets/images/parallax-Family-CoffeeNapkin.png) no-repeat;
	}
	.cappuccino {
		display: none;
		top: 80%;
		left: -300px;
		width: 309px;
		height: 340px;
		background: url(assets/images/parallax-Family-Capuccino.png) no-repeat;
		z-index: 4
	}
	.copy {
		top: 50%;
	}
}

.privateLabel {
	.spoon {
		display: none;
		top: 40%;
		left: -100px;
		width: 71px;
		height: 305px;
		margin: 0 auto;
		z-index: 5;
		background: url(assets/images/parallax-Private-Spoon.png) no-repeat;
	}
	.tea {
		top: 30%;
		left: -522px;
		right: 0;
		width: 407px;
		height: 417px;
		margin: 0 auto;
		z-index: 5;
		background: url(assets/images/parallax-Private-Tea.png) no-repeat;
	}
	.copy {
		top: 50%;
		right: -30%;
	}
}

.industryExpertise {
	.chocolate {
		display: none;
		top: 37%;
		left: -270px;
		z-index: 6;
		width: 300px;
		height: 200px;
		margin: 0 auto;
		background: url(assets/images/parallax-betterbeans-chocolate.png) no-repeat;
	}
	.cocoa {
		top: 50%;
		left: 0;
		right: -40%;
		z-index: 6;
		width: 300px;
		height: 284px;
		margin: 0 auto;
		background: url(assets/images/parallax-Industry-Cocoa.png) no-repeat;
	}
	.marshmellows {
		display: none;
		top: 69%;
		right: 97px;
		z-index: 4;
		width: 167px;
		height: 114px;
		margin: 0 auto;
		background: url(assets/images/parallax-Industry-Marshmellows.png) no-repeat;
	}
	.copy {
		top: 28%;
		left: -20%;
	}
}