.socialFooter {
	list-style: none;
	margin: 0;
	padding: .8em 0 0 1.3em;
	.socialIcon {
		float: left;
		width: 30px;
		height: 30px;
		margin: 0 5% 1em 0;
		@include hideText();
		a {
			display: block;
			float: left;
			width: 30px;
			height: 30px;
			overflow: hidden;
		}
	}
	#ico-facebook a {
		background: url(assets/images/social-facebook.png) no-repeat;
		@media only screen and (-webkit-min-device-pixel-ratio: 2) {
      background: url(assets/images/social-facebook@2x.png) no-repeat;
		}
	}
	#ico-twitter a {
		background: url(assets/images/social-twitter.png) no-repeat;
		@media only screen and (-webkit-min-device-pixel-ratio: 2) {
      background: url(assets/images/social-twitter@2x.png) no-repeat;
		}
	}
	#ico-youtube a {
		background: url(assets/images/social-youtube.png) no-repeat;
		@media only screen and (-webkit-min-device-pixel-ratio: 2) {
      background: url(assets/images/social-youtube@2x.png) no-repeat;
		}
	}#ico-flickr a {
		background: url(assets/images/social-flickr.png) no-repeat;
		@media only screen and (-webkit-min-device-pixel-ratio: 2) {
      background: url(assets/images/social-flickr@2x.png) no-repeat;
		}
	}
	#ico-gplus a {
		background: url(assets/images/social-google.png) no-repeat;
		@media only screen and (-webkit-min-device-pixel-ratio: 2) {
      background: url(assets/images/social-google@2x.png) no-repeat;
		}
	}
	#ico-instagram a {
		background: url(assets/images/social-instagram.png) no-repeat;
		@media only screen and (-webkit-min-device-pixel-ratio: 2) {
      background: url(assets/images/social-instagram@2x.png) no-repeat;
		}
	}
	#ico-linkedin a {
		background: url(assets/images/social-linkedin.png) no-repeat;
		@media only screen and (-webkit-min-device-pixel-ratio: 2) {
      background: url(assets/images/social-linkedin@2x.png) no-repeat;
		}
	}
	#ico-pinterest a {
		background: url(assets/images/social-pinterest.png) no-repeat;
		@media only screen and (-webkit-min-device-pixel-ratio: 2) {
      background: url(assets/images/social-pinterest@2x.png) no-repeat;
		}
	}
	#ico-vimeo a {
		background: url(assets/images/social-vimeo.png) no-repeat;
		@media only screen and (-webkit-min-device-pixel-ratio: 2) {
      background: url(assets/images/social-vimeo@2x.png) no-repeat;
		}
	}
}