/* ==========================================================================
   Variables
   ========================================================================== */
$selectionColor: yellow;
$maxWidth: 1000px;
$langdon: 'langdonregular';
$red: rgb(165, 0, 0);