/* ==========================================================================
   Variables
   ========================================================================== */
$selectionColor: yellow;
$maxWidth: 1100px;
$langdon: 'langdonregular';
$georgia: 'Georgia', Times, serif;
$red: rgb(165, 0, 0);
$blue: rgb(80,181,211);
$brown: rgb(75,36,6);

$txWhite: rgba(255,255,255,0.9);